.container {
  position: relative;
  cursor: pointer;
  width: fit-content;
}

.button--small {
  font-size: small;
  padding: 12px 16px;
}

.button--medium {
  font-size: medium;
  padding: 16px 24px;
}

.button--large {
  font-size: large;
  padding: 18px 24px;
}

.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.button--primary {
  background-color: var(--primary);
  color: var(--light);
  border: 0;
  border-radius: var(--border-radius);
}

.button--primary:hover {
  background-color: var(--primary-dark);
}

.button--secondary {
  background-color: var(--white);
  border: 2px solid var(--primary);
  color: var(--paragraph);
  border-radius: var(--border-radius);
}

.button--secondary:hover {
  background-color: var(--disabled);
  opacity: 1.5;
}

.button--accent {
  background-color: var(--accent);
  color: var(--light);
  border: 0;
  border-radius: var(--border-radius);
}

.button--accent:hover {
  background-color: var(--accent-dark);
}

.button--text {
  background-color: unset;
  border: 0;
  color: var(--primary);
}

@keyframes loading {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.loader {
  width: 0;
  height: 100%;
  animation: loading 5s linear forwards;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: var(--border-radius);
}

.loader--primary {
  background-color: var(--primary);
}

.loader--secondary {
  background-color: var(--secondary);
}

.loader--accent {
  background-color: var(--accent);
}